<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EvolutionEntities" connectionString="metadata=res://*/EvolutionEntityModel.csdl|res://*/EvolutionEntityModel.ssdl|res://*/EvolutionEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DS;initial catalog=Evolution;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SourceFolder" value="c:\Development\Evolution\Evolution" />
    <add key="ApplicationName" value="Evolution" />
    <add key="TempFileFolder" value="C:\Development\Evolution\TestResults" />
    <add key="SiteFolder" value="C:\Development\Evolution\Evolution\Evolution" />
    <add key="SiteHttp" value="http://localhost:64950" />
    <add key="MediaFolder" value="C:\Development\Evolution\Evolution\Evolution\Media" />
    <add key="MediaHttp" value="http://localhost:64950/Media" />
    <add key="DataTransferFolder" value="C:\Development\Evolution\DataTransfers" />
    <add key="EMailCssFile" value="C:\Development\Evolution\Evolution\Evolution\Content\EMailStyles.css" />
    <add key="ServiceExecutable" value="C:\Development\Evolution\Evolution\Evolution.TaskProcessor\bin\Debug\Evolution.TaskProcessor.exe" />
    <add key="SenderAddress" value="email@placeholder.com.au" />
    <add key="RecipientAddress" value="email@placeholder.com.au" />
    <add key="NoReplySender" value="email@placeholder.com.au" />
    <add key="EncryptionPW" value="***************************************" />
    <add key="EMailSendingServiceInTests" value="Off" />
    <add key="FTPHost" value="XXX.XXX.XXX.XX" />
    <add key="FTPLogin" value="login" />
    <add key="FTPPassword" value="password" />
    <add key="FTPTargetFolder" value="/test" />
    <add key="FTPArchiveFolder" value="/test/archive" />
    <add key="SFTPHost" value="sftp1.host.com" />
    <add key="SFTPLogin" value="login" />
    <add key="SFTPPassword" value="password" />
    <add key="SFTPTargetFolder" value="/testing" />
    <add key="SFTPArchiveFolder" value="/testing/archive" />
    <add key="RoleAdministrator" value="COMPANYNAME\Domain Users" />
    <add key="RoleSuperUser" value="COMPANYNAME\Domain Users" />
    <add key="RoleSales" value="COMPANYNAME\Domain Users" />
    <add key="RolePurchasing" value="COMPANYNAME\Domain Users" />
    <add key="RoleFinance" value="COMPANYNAME\Domain Users" />
    <add key="RolePurchasingSuper" value="COMPANYNAME\Domain Users" />
    <add key="RoleLogistics" value="COMPANYNAME\Domain Users" />
    <add key="LdapName" value="SERVERONNETWORK" />
    <add key="LdapContainer" value="dc=COMPANYNAME,dc=com,dc=au" />
    <add key="LdapUsername" value="COMPANYNAME\user.name" />
    <add key="LdapPassword" value="password" />
    <add key="ShowFullErrors" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>