@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("Tasks", Model)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.Partial("SaleSummary", Model)
            </div>
            <div class="col-sm-6">
                @Html.Partial("PurchaseSummary", Model)
            </div>
        </div>
    </div>
</div>
