@model Evolution.Models.ViewModels.EditProductViewModel
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="pricing" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
